img {
    width: 400px;
    border-radius: 45%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
    font-size: large;
    color: black;
}